# Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Environment variables file
.env

# Virtual environment folder
/venv/

# Docker related files
docker-compose.yml
Dockerfile
*.log
*.db

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# VSCode specific files
.vscode/

# JetBrains specific files
.idea/

# Miscellaneous temporary files
*.swp
*.swo
*.bak

# Alembic migrations folder (if you do not want to version Alembic migrations)
migrations/
alembic.ini

# Compiled build files
*.egg-info/
*.eggs/
dist/
build/
*.tar.gz
