# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environment folder
.venv/

# Environment variables
.env

# Docker files (if you don't want them to be included in Git)
*.log
*.db

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# VSCode specific files
.vscode/

# JetBrains specific files
.idea/
